<h1>Welcome to my Blog</h1>

<ul><%=  @blog.title %>
<li><%= @blog.content %></li>
</ul>

<%= link_to 'Back to Home', blogs_path%>
<br>
<%= form_with model: @blog do |form| %>
    <%= form.label :title%>
    <br>
    <%= form.text_field :title %>
    <br>
    <br>
    <%= form.label :content%>
    <br>
    <%= form.text_field :content %>
    <br>
    <br>
    <%= form.submit "Submit" %>
  <% end %>
<br>

<%= link_to 'Delete this post FOREVER', destroy_blog_path(@blog), data:{turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>